@use 'base/mixins' as m;

/* DISPLAY GRID */

.grid-3 {
    display: grid;
    gap: 1rem;
    place-items: center;
    text-align: center;
    @include m.telefono {
        grid-template-columns: repeat(2, 1fr);
    }
    @include m.tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}